.content {
    padding: 24px 48px 48px 48px;
}

.hrTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    text-align: center;
}

.hrLine {
    width: 40%;
    height: 1px;
    background-color: black;
}

.cameraImg {
    display: inline-block;
    width: 700px;
}

.para {
    display: inline-block;
    white-space: pre-wrap;
}