.formmodel {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	z-index: 1001;
	max-width: 100%;
	max-height: 80%;
	overflow-y: auto;
}
.container {
	text-align: center;
	padding: 20px;
}

.diagram {
	width: 40%;
	margin: auto;
	padding: 10px;
	overflow: hidden;
	display: flex;
	border: 1px solid #ccc;
	position: relative;
}

.diagram img {
	width: 100%;
	height: auto;
}

.tag {
	font-size: 24px;
}

.footer {
	margin-top: 20px;
	text-align: center;
}
.hrintro {
	align-items: center;
	justify-content: space-between;
	margin-top: 30px;
	text-align: center;
}
.photosContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;
}
.ButtonContainer {
	display: flex;
	justify-content: center;
}
.Button {
	background-color: #bfa0ed;
	color: #fff;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
	font-size: 16px;
	margin: 10px;
	gap: 10px;
}
.Button:disabled {
	background-color: #ccc;
}

.Button:hover {
	background-color: #ad8edb;
}
.Button:disabled:hover {
	background-color: #ccc;
}
