.container {
	text-align: center;
	padding: 20px;
}

.diagram {
	width: 40%;
	margin: auto;
	padding: 10px;
	overflow: hidden;
	display: flex;
	border: 1px solid #ccc;
	position: relative;
}
.diagram img {
	width: 100%;
	height: auto;
}

.tag {
	font-size: 40px;
}

.footer {
	margin-top: 20px;
}
